:root {
  --themeRed: #e43a47;
  --gray: #efefef;
}

body {
  font-family: "poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullcontainer banner {
  width: 100%;
}

.contain {
  width: 1140px;
  margin: auto;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* header .container .logo {
  padding: 15px;
  height: 70px;
} */
header .container .logo img {
  width: 100px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  display: inline-block;
  padding: 40px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
  transition: 0.3s;
}

header nav ul li a:hover {
  background-color: var(--themeRed);
}

.banner {
  min-height: 100vh;
  width: 100%;
  background-image: url(home.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.headertext {
  max-width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.headertext span {
  letter-spacing: 5px;
}

.headertext h1 {
  font-size: 3.9rem;
}

.headertext a {
  text-decoration: none;
  background-color: #e43a47;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 5px;
}

#aboutsection {
  padding-left: 50px;
  padding-right: 50px;
}

.sectiontitle {
  width: 300px;
  border-bottom: 3px solid var(--themeRed);
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  margin: 0 auto 50px;
  position: relative;
  padding: 10px 0;
  text-transform: uppercase;
}

.sectiontitle::after {
  display: inline-block;
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--themeRed);
  position: absolute;
  left: calc(50% - 10px);
  top: calc(75% - 7px);
  transform: rotate(45deg) translate(50%, 50%);
  border: 3px solid #fff;
}

section {
  padding: 100px 0;
  position: relative;
}

#aboutsection .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  position: relative;
  height: 245px;
}

#aboutsection .cards>div {
  width: 350px;
  background-color: var(--gray);

  padding: 35px;
  color: #444;
  text-align: center;
  border-radius: 15px;
  height: 215px;
  border: 1px solid #ccc;
  transition: 0.4s;
}

#aboutsection .cards>div .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

#aboutsection .cards>div p {
  font-size: 14px;
  margin-top: 15px;
}

#aboutsection .cards>div button {
  border: 1px solid var(--themeRed);
  outline: none;
  padding: 7px 15px;
  margin-top: 15px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

#aboutsection .cards>div:hover button {
  background-color: var(--themeRed);
  color: #fff;
}

#aboutsection .cards>div:hover {
  width: 400px;
  margin-top: -20px;
  border-color: var(--themeRed);
  padding: 55px;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.programs {
  background-color: #e2e2e2;
}

.programs .boxcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.programs .boxcontainer .box {
  background-color: #fff;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #c5c5c5;
  position: relative;
  margin-bottom: 15px;
}

.programs .boxcontainer .box .cardimage {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

#programsSection {
  padding-left: 50px;
  padding-right: 50px;
}

.programs .boxcontainer .box .cardimage:after {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  filter: grayscale(100%);
  transition: 0.4s;
}

.programs .boxcontainer .box:nth-last-child(1) .cardimage,
.programs .boxcontainer .box:nth-child(1) .cardimage:after {
  background-image: url("11.jpg");
}

.programs .boxcontainer .box:nth-last-child(2) .cardimage,
.programs .boxcontainer .box:nth-child(2) .cardimage:after {
  background-image: url("22.jpg");
}

.programs .boxcontainer .box:nth-last-child(3) .cardimage,
.programs .boxcontainer .box:nth-child(3) .cardimage:after {
  background-image: url("33.jpg");
}

.programs .boxcontainer .box:nth-last-child(4) .cardimage,
.programs .boxcontainer .box:nth-child(4) .cardimage:after {
  background-image: url("44.jpg");
}

.programs .boxcontainer .box:hover .cardimage:after {
  top: 100%;
}

.programs .boxcontainer .box .programtitle {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
  color: #444;
}

.programs .boxcontainer .box .donationcount {
  font-size: 13px;
  font-weight: 600;
  color: #444;
  margin-top: 10px;
}

.programs .boxcontainer .box .donationcount span {
  color: var(--themeRed);
}

.programs .boxcontainer .box button {
  position: absolute;
  left: 50%;
  background-color: var(--themeRed);
  color: #fff;
  transform: translate(-50%);
  bottom: -15px;
  border-radius: 60px;
  padding: 7px 15px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.education {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.education .videoplayer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.education .sectiontitle {
  color: #fff;
  text-shadow: 0 0 4px #000;
}

.education .educationcontainer {
  position: absolute;
  background-color: #00000096;
  width: 600px;
  top: 35vh;
  color: #fff;
  text-shadow: 0 0 3px #000;
  padding: 30px;
}

#educationsection {
  padding-left: 50px;
  padding-right: 50px;
}

.education .educationcontainer h3 {
  font-size: 35px;
  font-weight: 300;
}

.education .educationcontainer p {
  font-size: 15px;
  line-height: 20px;
  margin: 10px 0 30px;
}

.education .educationcontainer button {
  background-color: var(--themeRed);
  border: 0;
  color: #fff;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
}

#gallerysection {
  padding-left: 50px;
  padding-right: 50px;
}

.gallery .gallerycontainer {
  columns: 4;
  column-gap: 20px;
}

.gallery .gallerycontainer .item {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.gallery .gallerycontainer img {
  width: 100%;
  display: block;
  transition: 0.4s;
}

.gallery .gallerycontainer .title {
  position: absolute;
  background-color: var(--gray);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: 0.4s;
}

.gallery .gallerycontainer .item:hover .title {
  opacity: 1;
}

.gallery .gallerycontainer .item:hover img {
  transform: scale(1.2);
}

#joinsection {
  padding-left: 50px;
  padding-right: 50px;
}

.join {
  width: 100%;
  /*background-image: url(pattern.jpg);*/
  background-color: rgb(207, 209, 207);
  color: #050404;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.join .jointitle {
  font-size: 40px;
  font-weight: 100;
}

.join .jointitle span {
  font-weight: 800;
  margin-top: 100px;
}

.join button {
  padding: 7px 15px;
  margin-top: 20px;
  border: 0;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

.joinNow {
  margin-right: 50px;
  background-color: var(--themeRed);
  color: #fff;
}

.container-left,
.container-right {
  width: 49%;
}

.container-left p {
  font-size: 1rem;
  margin-top: 20px;
}

.container-left h5 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-right img {
  width: 100%;
}

.adoptBtn {
  background-color: rgb(239, 227, 227);
}

footer {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #181818;
  color: #7f7f7f;
  padding: 50px;
  font-size: 14px;
}

.fcontainer {
  background-color: #181818;
  color: #7f7f7f;
  padding: 50px 0;
  font-size: 14px;
}

footer .fcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

footer .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid;
  margin-bottom: 30px;
  padding: 0 0 5px 0;
}

footer p {
  margin-bottom: 10px;
}

footer .linkscontainer ul {
  list-style-type: none;
}

footer .linkscontainer ul li a {
  text-decoration: none;
  color: #7f7f7f;
  margin-bottom: 10px;
  display: inline-block;
}

footer .newslettercontainer img {
  height: 80px;
  margin-bottom: 11px;
}

footer .newslettercontainer input {
  background-color: transparent;
  border: 1px solid #7f7f7f;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  margin-top: 10px;
  color: #ccc;
  border-radius: 30px;
}

.mediaicon {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  /*:hover{
    h background-color: var(--themeRed);
  }*/
}

.mediaicon img {
  width: 55%;
  margin-right: 10px;
}

.futureimpact {
  width: 57%;
  height: 200px;
  /*border: 1px solid white;*/
  position: absolute;
  left: 0;
  bottom: 0.1rem;
  background-color: #695f4b;
}

.futureimpWrapper {
  display: flex;
  align-items: center;
}

.futureimpWrapper div {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px 0 0 0;
}

.divider {
  width: 5px !important;
  height: 100px !important;
  background-color: #b8b8b8;
}

.futureimpact h2 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}

.futureimpact h3 {
  color: #fff;
}

.futureimpact p {
  color: #fff;
}

.menuIcon {
  width: 40px;
  height: 40px;
  display: none;
}

@media (max-width:1177px) {
  #aboutsection .cards>div {
    margin-top: 23px;
  }
}

@media (max-width:760px) {
  .menuIcon {
    display: block;
  }

  nav {
    display: none;
  }

  header .container {
    justify-content: space-between;
    padding: 0 27px 0 22px;
  }
}